[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/yogendra-singh09
[access "refs/for/refs/*"]
	read = group user/yogendra-singh09
	push = group user/yogendra-singh09
	label-Code-Review = -2..+2 group user/yogendra-singh09
	label-Verified = -1..+1 group user/yogendra-singh09
	rebase = group user/yogendra-singh09
	removeReviewer = group user/yogendra-singh09
	submit = group user/yogendra-singh09
[access "refs/heads/*"]
	read = group user/yogendra-singh09
	create = group user/yogendra-singh09
	push = +force group user/yogendra-singh09
	pushMerge = group user/yogendra-singh09
[access "refs/tags/*"]
	push = group user/yogendra-singh09
	push = +force group user/yogendra-singh09
